@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    background-image: linear-gradient(#2C188B, #03012C);
}

main {
    padding: 0 0 4rem 0;
}

header > div > div,
main > div > div,
footer > div > div {
    max-width: 720px;
    margin: 0 auto;
    padding: 2rem 1.6rem;
}

/* tipografia e diagramação */

h1 {
    margin: 2rem auto;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
}

h2 {
    color: #FFFFFF;

    margin: 2rem auto;
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
}

h3 {
    margin: 2rem auto;
    font-size: 2.4rem;
    text-align: center;
    line-height: 1.1;
}

h4 {
    margin: 2rem auto;
    font-size: 1.8rem;
    line-height: 1.1;
}

p {
    margin: 1.6rem 0;
    line-height: 1.1;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

/* "atalhos" */

.mt0 {
    margin-top: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.pt0 {
    padding-top: 0 !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.tcenter {
    text-align: center !important;
}

.d-flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.d-flex_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* sinais */

.sinais {
    position: relative;
}

ul {
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    
    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;

        padding: 6px;
        max-width: 80%;
        min-width: 80%;
        margin: 10px auto;
        border: 2px solid #9D2525;
        border-radius: 5px;

        background-color: #FFF;

        img {
            margin: 0 0 0 10px;
            max-height: 48px;
            width: auto;
        }

        h4 {
            color: #9D2525;
            margin-left: 14px;

            span {
                color: #000000;
                margin-left: 6px;
                font-style: italic;
                text-shadow: 0px 1px 2px #00000025;
            }
        }
    }
}

/* button */

.gerador {
    width: 75%;
    top: 90%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: block;
    margin: -3px 0 0 0;
    padding: 8px;
    font-size: 16px !important;
    font-weight: 700;
    color: #FFF;
    border-style: dashed;
    border-width: 3px;
    border-color: rgba(255, 255, 255, 0.3490196078);
    background-image: linear-gradient(4deg, #30c620 20%, #29f513 100%);
}

.continuar {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    border-style: dashed;
    border-width: 3px;
    border-color: rgba(255, 255, 255, 0.3490196078);
    background-image: linear-gradient(4deg, #30c620 20%, #29f513 100%);
}

/* iframe */

    iframe {
        display: block;
        margin: 0 auto;
        width: 90%;
        height: 720px;

        border: 2px solid #1074D0;
        border-radius: 15px;
        box-shadow: 0px 10px 15px #00000025;
    }